In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
folder = "dataset/celebA/"
img_folder = folder+'img_align_celeba/img_align_celeba/'

df = pd.read_csv(folder + "attr.csv")
df.head()

,image_id,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
0,000001.jpg,-1,1,1,-1,-1,-1,-1,-1,-1,...,-1,1,1,-1,1,-1,1,-1,-1,1
1,000002.jpg,-1,-1,-1,1,-1,-1,-1,1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
2,000003.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,1,-1,-1,-1,-1,-1,1
3,000004.jpg,-1,-1,1,-1,-1,-1,-1,-1,-1,...,-1,-1,1,-1,1,-1,1,1,-1,1
4,000005.jpg,-1,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,1,-1,-1,1

In [3]:
print('Total number of imgs : ', len(df))

Total number of imgs :  202599

In [4]:
#dear, downstream = train_test_split(df, test_size = 0.2, random_state = 42)
#print(f"# dear : {len(dear)} # downstream : {len(downstream)}")

### Dear dataset split

In [5]:
dear_train, dear_test = train_test_split(df, test_size = 0.2, random_state = 42)
dear_test, dear_val = train_test_split(dear_test, test_size = 0.5, random_state = 42)
print(f"# dear_train : {len(dear_train)} # dear_val : {len(dear_val)} # dear_test : {len(dear_test)}")

# dear_train : 162079 # dear_val : 20260 # dear_test : 20260

In [6]:
folder_dir = 'dataset/celebA/'

dear_train.to_csv(f'{folder_dir}dear_train.csv', index=False)
dear_test.to_csv(f'{folder_dir}dear_test.csv', index=False)
dear_val.to_csv(f'{folder_dir}dear_val.csv', index=False)